# API Gateway Configuration
GATEWAY_PORT=5000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://frontend

# User Service Configuration
USER_SERVICE_URL=http://localhost:5001
USER_SERVICE_PORT=5001

# Todo Service Configuration
TODO_SERVICE_URL=http://localhost:5002
TODO_SERVICE_PORT=5002
NOTIFICATION_SERVICE_URL=http://localhost:5003

# Notification Service Configuration
NOTIFICATION_SERVICE_URL=http://localhost:5003
NOTIFICATION_SERVICE_PORT=5003

# Database Configuration (if microservices use separate databases)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root1234
DB_NAME=microservices_db

# Node Environment
NODE_ENV=development
